body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    height: 120px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}
.header-bottom{
    display: flex;
    align-items: flex-end;
    
}
.logo{
    flex : 1;
    display: flex;
    align-items: center;    
    justify-content: center;
}
.logo img{
    height: 80px;
    border-radius: 50%;
}
.headernav{
    flex: 1 ;
    display : flex;
    justify-content :flex-start;
    gap :10px;
}
.headernav a{
    text-decoration: none;
    padding: 10px 18px;
    background-color: #222;
    color: #fff;
    border-radius: 9px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.headernav a:hover {
    background-color: #444;
    transform: translateY(-2px);
}
.authorisation{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.authorisation a{
    text-decoration: none;
    padding: 10px 18px;
    background-color: rgb(156, 153, 153);
    color: #222;
    border-radius: 9px;
    font-weight: 300;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.authorisation a:hover {
    background-color: rgb(200, 197, 197);
    transform: translateX(2px);
}
.main {
    flex : 1;
    padding: 40px 40px;
    
}

.brand-intro {
    max-width: 900px;
    margin-top: 40px;
}
.footer{
    
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}